$background-color: #272727;
$secondary-color: #747474;

body {
  background: $background-color;
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  margin: 30px 5% 0 5%;
  width: 90%;
  height: 80px;
  border-radius: 10px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;

  .header__logo {
    margin: 0 0 0 20px;
    justify-content: flex-start;

    img {
      height: 45px;
      width: auto;
    }
  }
}

.helicopters {
  justify-content: center;
  align-items: center;
}
