@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

$background-color: #273b46;
$header-color: #344a57;
$widget-color: #344a57;
$subtext-color: #999999;
$primary-fill-color: white;
$widget-width: 50%;
$widget-widht-test: calc(100% - 10px);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  height: 100vh;
  width: 100vw;
  background: $background-color;
  margin: 0;
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}
.react-grid-item.react-grid-placeholder {
  background: white;
  border-radius: 40px;
}

.widget__wrapper {
  display: flex;
  justify-content: center;
}

.header {
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  background-color: $header-color;
  display: flex;
  align-items: center;

  .header__logo {
    margin: 0 0 0 20px;
    justify-content: flex-start;
    height: 25px;
    width: 100%;
    fill: $primary-fill-color;

    svg {
      height: auto;
      width: auto;
    }
  }

  .user-credentials__container {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    color: $primary-fill-color;
    font-weight: 400;

    span {
      margin: 1px;
    }
  }
}

.sauna-widget__wrapper {
  padding: 30px;
  margin: 0 5px 0 0;
  height: 100%;
  width: 100%;
  background-color: $widget-color;
  border-radius: 40px;
  color: $primary-fill-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title__container {
    margin: 5px;
    height: 25%;
    display: flex;
    justify-content: center;

    svg {
      height: 100%;
      width: auto;
      fill: white;
    }
  }

  .sauna-chart__container {
    width: 100%;
    height: 60%;
  }

  .sauna-metrics__container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;

    .stats__container {
      display: flex;
      justify-content: center;

      h2 {
        margin: 0;
      }

      .humid__container {
        display: flex;
        margin: 10px;

        span {
          margin-left: 7px;
        }
      }
      .temperature__container {
        display: flex;
        margin: 10px;
        svg {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

.weather-widget__wrapper {
  padding: 30px;
  margin: 0 5px 0 0;
  height: 100%;
  width: 100%;
  background-color: $widget-color;
  border-radius: 40px;
  color: $primary-fill-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon__container {
    height: auto;
    width: 40%;
    display: flex;
    justify-content: center;
  }

  h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
  }

  p {
    display: flex;
    justify-content: center;
  }

  .stats__container {
    display: flex;

    div {
      display: flex;
      margin: 10px;
    }

    span {
      margin: 2px;
      display: flex;
      align-items: center;
    }
  }
}

.stock-widget__wrapper {
  padding: 30px;
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  background-color: $widget-color;
  border-radius: 40px;
  color: white;

  .dropdown__container {
    display: flex;
    justify-content: space-between;

    .percentage__container {
      display: flex;
      margin: 0 0 0 10px;
      font-size: 50px;

      h6 {
        margin: 0;
      }

      .text--green {
        color: #34c759;
      }

      .text--red {
        color: red;
      }
    }
  }

  .ticker-name__container {
    display: flex;
    flex-direction: column;
    p {
      margin: 2px;
      color: $subtext-color;
    }
  }

  .chart-data__container {
    width: 100%;
    height: 55%;
  }

  .price__container {
    font-size: 15px;

    h1 {
      margin: 0;
    }
  }
}
